<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.2.xsd"
        name="hibiscus.ly.extensionpack" version="1.0.1" class="de.open4me.ly.hibiscusAddon.Plugin" > 

  <description>Hibiscus-Support für diverse Anbieter 
(Varengold, Airplus, BahnBonus, Barclays, BahnBonus, Handyticket, Payback, Shoop)</description>
  <url>https://www.open4me.de/hibiscus/hibiscus.ly.extensionpack/hibiscus.ly.extensionpack.zip</url>
  <homepage></homepage>
  <license></license>

  <requires jameica="2.6.0+">
    <import plugin="hibiscus" version="2.6.11+" />
	<import plugin="hibiscus.ly.toolkit" version="1.0.1+" />
  </requires>

  <classfinder>
    <include>hibiscus\.ly\.extensionpack\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <menu>
    <item id="ly.megapack.menu" name="Extension Pack">
        <item id="ly.megapack.menu.einrichtugnsass" name="&amp;Einrichtungsassistenten..."       
        		action="de.open4me.ly.hibiscusAddon.actions.EinrichtungsassistentenAction" />
      <item name="-" />
    </item>
  </menu>

</plugin>
